tsconfig.tsbuildinfo
/auth-schema.ts
/node_modules
next-env.d.ts
.vercel
.next
.yarn
.env
/out

/src-tauri/gen/android/my-release-key.jks

/src-tauri/gen/android/keystore.properties

# Temp files
src-tauri/VieClone
*.tmp
*.temp